<%= render partial: "layouts/menu" %>

<div class="content">

  <p id="notice"><%= notice %></p>
  
  <h1>Bem vindo</h1>

  <div id="cnab-file-upload">
    <%= render partial: "file_upload_form" %>
  </div>
</div>